h1,h2 {
  color: darkred;
}
h1 {
  border-bottom: solid;
}
p {
  color: goldenrod;
}
body {
  font-family:  sans-serif;
}
em {
  font-family: serif;
  color: crimson;
}
p.greentea {
  color: green;
}
p.raspberry {
  color: blue;
}
p.blueberry {
  color: purple;
}
