h1, {
  color: gray
}
h1 h2{
  border-bottom: 1px solid black;
}
p {
  color: maroon;
}
body {
  font-family:  sans-serif;
}
em {
  font-family: serif;
}
p.greentea {
  color: green;
}
p.raspberry {
  color: blue;
}
p.blueberry {
  color: purple;
}
p.pink{
  color: pink;
}
p.underline{
  text-decoration;: underline;
}