h1,h2 {
  color: darkred;
}
h1 {
  border-bottom: solid;
}
p {
  color: goldenrod;
  border: black;
}
body {
  font-family:  sans-serif;
}
em {
  font-family: serif;
  color: crimson;
}
p.greentea {
  color: green;
}
p.raspberry {
  color: blue;
}
p.blueberry {
  color: purple;
}
p.pink{
  color: pink;
}
p.underline{
  text-decoration: underline;
}
p,h2 {
  padding: 0px;
  margin: 0px;
}